@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --body-font: 'Montserrat', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  // width: calc(100% - var(--nav-width));
  position: relative;
  margin: 0 0 0 var(--nav-width);
  font-family: var(--body-font);
  // padding: 0 1rem;
  // font-family: var(--body-font);
  // font-size: var(--normal-font-size);
  // transition: 0.5s;

  @media (max-width: 576px) {
    margin: 0 0 0 0;
  }
}

.navbar {
  position: fixed;

  display: flex;
  align-items: center;
  flex-flow: column;

  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-color: indigo;

  color: white;
  z-index: var(--z-fixed);

  @media (max-width: 576px) {
    height: 50px;
    width: 100%;
    flex-flow: row;
  }

  i {
    font-size: 24px;

    // @media (max-width: 576px) {
    //   color: indigo;
    // }
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: 576px) {
      flex-direction: row;
    }
  }
  &__list-item {
    &--top {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      p {
        padding: 0;
        margin: 0;
      }

      @media (max-width: 576px) {
        display: none;
      }
    }

    &--mid {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }

    &--bot {
      width: 100%;
      display: flex;
      height: fit-content;
      flex-grow: 4;
      align-items: flex-end;
      justify-content: center;

      font-size: 24px;
      margin-bottom: 50px;

      @media (max-width: 576px) {
        align-items: center;
        justify-content: center;
        margin: 0;
        width: fit-content;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 1s;
    p {
      margin: 0;
      padding: 0;
    }
  }
}
