.basic-info {
  display: flex;
  row-gap: 25px;
  column-gap: 25px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  flex-wrap: wrap;

  &__section-photo {
    display: flex;
    justify-content: center;
    flex: 1 45%;
  }

  &__section-basic {
    display: flex;
    flex: 1 45%;
    flex-direction: column;
  }

  &__section-details {
    display: flex;
    flex: 1 100%;
    flex-direction: column;
  }

  button {
    width: fit-content;
  }
}
