.basic-info {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  row-gap: 5px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  flex-wrap: wrap;

  &__section-photo {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  &__section-basic {
    display: flex;
    flex: 1 40%;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 10px;

    &-edit {
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 32px;
      color: indigo;
    }

    &-name {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }

    &-title {
      margin: 10px 0 0 0;
    }
  }

  &__section-details {
    display: flex;
    flex: 1 100%;
    flex-direction: column;
  }

  // button {
  //   width: fit-content;
  // }
}
