.image-container {
  position: relative;
  display: flex;

  align-self: flex-start;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image {
  &__profile-photo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
  }

  &__form {
    display: flex;
    margin-top: 10px;
    align-self: center;
    border-radius: 15px;
    background-color: indigo;
    width: fit-content;
    justify-content: center;
    align-items: center;

    color: white;
    cursor: pointer;

    button {
      display: none;
      border: none;
      background-color: indigo;
      padding: 5px 5px;
      margin-right: 5px;
      font-weight: bold;
    }
    &-container {
      cursor: pointer;
      width: fit-content;
      display: flex;
      justify-items: center;
      align-items: center;

      label {
        cursor: pointer;
        padding: 10px;
        font-size: 14px;
      }
    }
    &-submit {
      display: flex;
      margin-top: 10px;
      width: fit-content;

      text-align: center;
    }

    button {
      cursor: pointer;
    }
  }

  &__form input[type="file"] {
    margin: 0;
    padding: 0;
    opacity: 0;
    width: 0px;
    height: 0px;
  }
}
